body{
    background-color: rgb(32, 47, 178);
}


.header{
    display: inline-block;

}

#projects, #contacts{
    display: none;
}

.logo{
    border: solid;
    border-radius: 5rem;
    width: 10rem;height: 10rem;
}

.discord{
    border:rgb(15, 114, 1);
    border-radius: 5rem;
    width: 10rem;height: 10rem
}

.nav{
    position: sticky;
    margin-left: 90%


}

.content{
    width: 5rem; height: 5rem;
}