/* body{
    background-color: rgba(32, 47, 178, 0.425);
} */

/*.center{
    text-align: center;
}*/

/*.border{
    border: black;
    border-radius: 10;
    width: 10rem; height: 10rem;
}*/

.container{
    fill: rgb(0, 0, 43);
    
}

.header{
    display: inline-block;

}

#projects, #contacts{
    display: none;
}

.logo{
    border: solid;
    border-radius: 2rem;
    width: 10rem;height: 10rem;
}

.discord{
    border:rgb(15, 114, 1);
    border-radius: 5rem;
    width: 10rem;height: 10rem
}

.nav{
    position: sticky;
    margin-left: 90%


}

/* .content{
    width: 5rem; height: 5rem;
} */